h1 {
    text-align: center;
}

body {
    background-color: rgb(255, 201, 169);;
}

#mycanvas {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(240, 248, 255);
    margin: auto;
    display: block;
    border-radius: 20px;
}

button {
    margin: auto;
    display: block;
    border-radius: 10px;
    width: 100px;
    height: 25px;
}

button:hover{
    background-color: rgb(200, 197, 197);
}

#collisionCounter{
   margin: 30px;
   text-align: center;
}