h1 {
    text-align: center;
}

body {
    background-color: rgb(216, 216, 216);
}

#mycanvas {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(240, 248, 255);
    margin: auto;
    display: block;
}

button{
    margin: auto;
    display: block;
}